body {
  font-family: sans-serif;
  background-color: lightskyblue;
}
.center {
  text-align: center;
}
.links ul {
  display: flex;
  justify-content: center;
}
.links ul li {
  list-style: none;
  margin: 0 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  text-align: center;
  background-color: rgb(201, 229, 252);
  border-radius: 20px;
  height: 620px;
  width: 310px;
  margin: 20px 10px 0 10px;
  padding: 5px;
}
.card img {
  margin-top: 10px;
}
img {
  height: 300px;
  width: 230px;
}
.details-boxs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.details-box {
  background-color: rgb(201, 229, 252);
  border-radius: 20px;
  margin: 10px 0;
  padding: 20px;
  height: 1500px;
  width: 70%;
}
.review {
  width: 45%;
  background-color: lightskyblue;
  border-radius: 20px;
  padding: 10px;
}
.reviews {
  display: flex;
  justify-content: space-between;
}